/* Functional */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 13px;
}

ul > li, .articleTitle p {
    color: #b7b7b7;
}

/* /Functional */


/* Page */
body {
    /* background-color:aquamarine; */
    font-family: Arial, Helvetica, sans-serif;
}

header, footer, .imgSlideshow, .articleContent, .mainArticle {
    width: 100%;
}

.pageContent {
    width: 85%;
    margin: auto;
    /* background-color: cadetblue; */
}

header {
    height: 120px;
}

footer {
    height: 90px;
    /* background-color: mediumaquamarine; */
}

nav {
    height: 100%;
}

.myLogo {
    width:110px;
    height: 60%;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.menuOptions {
    height: 40%;
    /* background-color: darkcyan; */
}

.imgSlideshow {
    height: 320px;
    background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),url('../img/banner.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}

.imgTitle1 {
    padding-top: 27%;
    margin-left: 5%;
    width: 55%;
    font-size: 20px;
    color: white;
}

.imgTitle2 {
    margin-left: 5%;
    width: 50%;
    font-size: 12px;
    color: white;
}

.imgTitle2::after {
    content: '...';
}

.articleContent {
    height: 550px;
    /* background-color: darkslategray; */
}

.articleTitle {
    height: 12%;
    /* background-color: dodgerblue; */
}

.articleTitle h1{
    margin-top: 20px;
    font-size: 25px;
}

.articleTitle p {
    font-size: 14px;
}

.mainArticle {
    height: 85%;
}

.centerColumn {
    height: 100%;
    width: 50%;
    /* background-color: teal; */
    float: left;
    padding: 0 2% 0 2%;
}

.leftColumn, .rightColumn {
    height: 100%;
    width: 25%;
    /* background-color: lightskyblue; */
    float: left;
}

.sideImg, .centerImg {
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.centerImg {
    background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),url('../img/banner-2.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 70%;
}

#first {
    background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),url('../img/img-1.jpg');
    background-size: 100% auto;
}

#second {
    background: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),url('../img/img-3.jpg');
    background-size: auto 100%;
}

#first, #second {
    background-repeat: no-repeat;
    background-position: center center;
}

.textContent {
    margin-top: 25px;
}

.textContent > h4 {
    padding-bottom: 10px;
    font-weight: normal;
}

.textContent > span {
    color: #cccccc;
    font-size: 15px;
}

.sideImg {
    /* background-color: midnightblue; */
}

.centerImg {
    /* background-color: navy; */
}
/* /Page */
